<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Briefcase</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="static/style_login.css">


</head>

<body>

<style media="screen">
  body {background: url('/static/bg5.jpg')!important;}
</style>

  <div class="cont">

  <div style="background:white;  padding:20px; margin:50px auto; font-size:2.5em; width:700px;">

<style>
.hide{visibility:hidden;height:1px;padding:0px;margin:0px;}
.case {
  padding: 50px;
    background: #795548;
    color: white;
    margin: 20px;
  }

.case a { text-decoration:none; color:white;}

  </style>
<center><h2>Briefcase</h2></center>
  <div class="hide case" id="thecase">
    <a href="/static/HOMEW0RKS.zip">Pen Drive Files</a>
<br><br>
    <a href="/static/bpass.zip">Boarding Pass Files</a>
  </div>

  <input type="text" id="code" placeholder="Enter the key">
    <a href="#" class="btn btn-primary" id="check">Check</a>

<br><br><br><br>

  <a href="/static/print.c">Download the Code</a>




  </div>

</div>
  <script src='/static/jquery.min.js'></script>

  <script src="static/briefcase.js"></script>

    <script  src="static/index_login.js"></script>




</body>

</html>
