<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="static/style_login.css">
</head>


<body>
  <style media="screen">
    body {background: url('/static/bg1.jpg')!important;}
  </style>

  <div class="cont">

  <div style="background:white;  padding:20px; margin:50px auto; font-size:2.5em; width:700px;">
      <center><h1>221B Coder Street</h1></center>
      <br><br>
    John Watson reads a newspaper article out loud "Business tycoon Ms. Riley Scott has been found dead in her Central London penthouse on 25th March, i.e. yesterday by her maid, the police passed a statement for it to be a suicide case but investigators suspect homicide."
Sherlock Holmes is busy with his attempt to master 'The Bach piece' and is facing outside the window when he notices a police car with Inspector Lestrade getting out of it and rushing towards the door of 221B Baker Street.
A knock on the door and the landlady Mrs. Hudson opens the door, seeing police cars at her place is an usual routine for her so she gets back to work without speaking a word.
"Sherlock we have a case!" exclaims Watson on opening the door and seeing Lestrade.<br>
"Riley Scott murder case, yes I'm up for it, let's go!"<br>
"No umm...it's not yet proved to be a murder Sherlock, it's still umm...under investigation."<br>
"It's a murder! It better be a murder!" Sherlock exclaims.<br>
"Sherlock, don't act so excited,someone has died,calm down!" whispers Watson trying to supress a smile.<br><br>

Sherlock along with Lestrade and Watson in a cab leaves for Scott's penthouse within 15 minutes,<br>
on reaching the crime scene, they see expensive furnitures all around with a few photo frames on the wall possibly of Riley with her family members.
They are welcomed by one of the housekeepers named Clara Green, she was trying her best to hold back her tears but broke down on seeing them.
In the corner the butler Tom Bridget seems to be a bit confused as if still trying to accept the tragic news. Along with them there is also Riley Scott's PA Samantha Smith who is continuously accepting calls and obliging to the consolations and messages from family and friends of Riley.
Sherlock goes near the dead body and carefully examines it, he finds no sign of wound on the body but on looking closely he observes some dried blood stains on her nails. He takes a sample.
He even finds the computer in her study room and on trying to log in, it prompts with login page which requires an email-id and a password. He examines the keyboard for some fingerprints and takes few samples.
He asks Riley's PA about it but she could only tell the email-id and doesn't knows the password.
Email being scottriley14@outlook.com, Sherlock tries to crack the password but instead finds a riddle.
Crack the password!
  </div>
<center><a href="/login" class="login__submit" style="padding:20px;">Login</a></center>
</div>
    <script src='/static/jquery.min.js'></script>
    <script  src="static/index_login.js"></script>
</body>
</html>
