<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="static/style_login.css">


</head>

<body>

<style media="screen">
  body {background: url('/static/bg2.jpg')!important;}
</style>

  <div class="cont">

  <div style="background:white;  padding:20px; margin:50px auto; font-size:2.5em; width:700px;">
    Once Sherlock gets to the location, he finds the place to be an old office of some real estate company which has been discarded since a long time now.
  He searches the place thourougly for some clue and also talks to the building's security guard Bill Wiggins, he learns from him that someone had come to drop a briefcase but instead of coming themself, they sent it through their driver and left within no time. On asking for the briefcase, Bill hands over the briefcase to Sherlock.
  The briefcase is in an absolutely proper state as if new, it's extremely light in weight and on shaking makes a sound as if something very small is kept inside it.
  Sherlock on trying to open it,discovers it's locked!
  The lock requires a particular combination.
  As Sherlock was trying all the possible combinations he gets a call from the forensic department telling him the blood sample found on Riley's nails and the second fingerprint on her keyboard were of two different people, the blood sample is still under study as it's dried and difficult to identify but the fingerprints match to an employee in her company Mike Smith. Sherlock orders the police to interrogate Mr.Smith at once and puts him up on his suspect list.
  On getting off the call he gets back to unlocking the briefcase.
  What is the combination?<br><br>
  </div>
<center><a href="/briefcase" class="login__submit" style="padding:20px;">Open Briefcase</a></center>


</div>
  <script src='/static/jquery.min.js'></script>



    <script  src="static/index_login.js"></script>




</body>

</html>
